<div>
    <h2 translate="wStationApp.sensorState.home.title">SensorStates</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="sensorState.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="wStationApp.sensorState.home.createLabel">Create a new SensorState</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="temperature"><span translate="wStationApp.sensorState.temperature">Temperature</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="airpressure"><span translate="wStationApp.sensorState.airpressure">Airpressure</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="humidity"><span translate="wStationApp.sensorState.humidity">Humidity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="illuminance"><span translate="wStationApp.sensorState.illuminance">Illuminance</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createddate"><span translate="wStationApp.sensorState.createddate">Createddate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sensorState in sensorStates track by sensorState.id">
                    <td><a ui-sref="sensorState.detail({id:sensorState.id})">{{sensorState.id}}</a></td>
                    <td>{{sensorState.temperature}}</td>
                    <td>{{sensorState.airpressure}}</td>
                    <td>{{sensorState.humidity}}</td>
                    <td>{{sensorState.illuminance}}</td>
                    <td>{{sensorState.createddate | date:'medium'}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="sensorState.detail({id:sensorState.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="sensorState.edit({id:sensorState.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="sensorState.delete({id:sensorState.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
