<h2>Grafische Darstellung</h2>

<div class="row" style="margin-bottom: 20px;">
	<div class="col-md-2">
		<input class="form-control" ui-date ng-model="date" ui-date-format="yy-mm-dd" ng-change="refresh()">
	</div>
	<div class="col-md-2 pull-right">
		<a class="btn btn-info pull-right" ng-click="refresh()"><i class="glyphicon glyphicon-refresh"></i> Refresh</a>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<nvd3-line-chart
        	data="d3Data"
	        showXAxis="true"
	        showYAxis="true"
	        tooltips="true"
	        xAxisTickFormat="xAxisTickFormatFunction()"
	        interactive="true"
	        interpolate="bundle"
	        showLegend="true">
    	</nvd3-line-chart>
	
	</div>
</div>

